.conatiner {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 567px;
}

.postCard {
  margin: 20px 50px;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}
