.conatiner {
  display: flex;
}

.content {
  width: 100%;
}

.sidebar {
  min-height: 567px;
}

.postCard {
  margin: 10px;
}

.create-post {
  width: 80%;
  margin-top: 50px;
  margin-left: 10%;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 10px 10px;
}
